[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "argparse"]
	path = argparse
	url = https://github.com/trevorld/r-argparse
	shallow = true
	registered = true
[submodule "bittermelon"]
	path = bittermelon
	url = https://github.com/trevorld/bittermelon
	shallow = true
	registered = true
[submodule "bracer"]
	path = bracer
	url = https://github.com/trevorld/bracer
	shallow = true
	registered = true
[submodule "findpython"]
	path = findpython
	url = https://github.com/trevorld/findpython
	shallow = true
	registered = true
[submodule "getopt"]
	path = getopt
	url = https://github.com/trevorld/r-getopt
	shallow = true
	registered = true
[submodule "gridpattern"]
	path = gridpattern
	url = https://github.com/trevorld/gridpattern
	shallow = true
	registered = true
[submodule "ledger"]
	path = ledger
	url = https://github.com/trevorld/r-ledger
	shallow = true
	registered = true
[submodule "optparse"]
	path = optparse
	url = https://github.com/trevorld/r-optparse
	shallow = true
	registered = true
