[submodule ".registry"]
	path = .registry
	url = https://github.com/trevorld/trevorld.r-universe.dev
	branch = HEAD
[submodule "aRt"]
	path = aRt
	url = https://github.com/nrennie/aRt
[submodule "affiner"]
	path = affiner
	url = https://github.com/trevorld/affiner
[submodule "argparse"]
	path = argparse
	url = https://github.com/trevorld/r-argparse
[submodule "bittermelon"]
	path = bittermelon
	url = https://github.com/trevorld/bittermelon
[submodule "bracer"]
	path = bracer
	url = https://github.com/trevorld/bracer
[submodule "datetimeoffset"]
	path = datetimeoffset
	url = https://github.com/trevorld/r-datetimeoffset
[submodule "findpython"]
	path = findpython
	url = https://github.com/trevorld/findpython
[submodule "ggfx"]
	path = ggfx
	url = https://github.com/thomasp85/ggfx
	registered = false
[submodule "ggpattern"]
	path = ggpattern
	url = https://github.com/trevorld/ggpattern
[submodule "ggvoronoi"]
	path = ggvoronoi
	url = https://github.com/nrennie/ggvoronoi
	registered = false
[submodule "gridpattern"]
	path = gridpattern
	url = https://github.com/trevorld/gridpattern
[submodule "hexfont"]
	path = hexfont
	url = https://github.com/trevorld/hexfont
[submodule "ledger"]
	path = ledger
	url = https://github.com/trevorld/r-ledger
[submodule "optparse"]
	path = optparse
	url = https://github.com/trevorld/r-optparse
[submodule "r.oguelike"]
	path = r.oguelike
	url = https://github.com/matt-dray/r.oguelike
[submodule "truchet"]
	path = truchet
	url = https://github.com/paezha/truchet
[submodule "xmpdf"]
	path = xmpdf
	url = https://github.com/trevorld/r-xmpdf
