[submodule ".registry"]
	path = .registry
	url = https://github.com/trevorld/trevorld.r-universe.dev
	branch = HEAD
[submodule "aRt"]
	path = aRt
	url = https://github.com/nrennie/aRt
[submodule "affiner"]
	path = affiner
	url = https://github.com/trevorld/affiner
[submodule "argparse"]
	path = argparse
	url = https://github.com/trevorld/r-argparse
[submodule "bittermelon"]
	path = bittermelon
	url = https://github.com/trevorld/bittermelon
[submodule "bracer"]
	path = bracer
	url = https://github.com/trevorld/bracer
[submodule "cssparser"]
	path = cssparser
	url = https://github.com/coolbutuseless/cssparser
	registered = false
[submodule "datetimeoffset"]
	path = datetimeoffset
	url = https://github.com/trevorld/r-datetimeoffset
[submodule "dee"]
	path = dee
	url = https://github.com/trevorld/dee
[submodule "findpython"]
	path = findpython
	url = https://github.com/trevorld/findpython
[submodule "getopt"]
	path = getopt
	url = https://github.com/trevorld/r-getopt
[submodule "ggfx"]
	path = ggfx
	url = https://github.com/thomasp85/ggfx
	registered = false
[submodule "gggrid"]
	path = gggrid
	url = https://github.com/pmur002/gggrid
	registered = false
[submodule "ggpattern"]
	path = ggpattern
	url = https://github.com/trevorld/ggpattern
[submodule "ggvoronoi"]
	path = ggvoronoi
	url = https://github.com/nrennie/ggvoronoi
	registered = false
[submodule "gridpattern"]
	path = gridpattern
	url = https://github.com/trevorld/gridpattern
[submodule "hexfont"]
	path = hexfont
	url = https://github.com/trevorld/hexfont
[submodule "ledger"]
	path = ledger
	url = https://github.com/trevorld/r-ledger
[submodule "minisvg"]
	path = minisvg
	url = https://github.com/coolbutuseless/minisvg
	registered = false
[submodule "oblicubes"]
	path = oblicubes
	url = https://github.com/trevorld/oblicubes
[submodule "optparse"]
	path = optparse
	url = https://github.com/trevorld/r-optparse
[submodule "piecepackr"]
	path = piecepackr
	url = https://github.com/piecepackr/piecepackr
	registered = false
[submodule "pnpmisc"]
	path = pnpmisc
	url = https://github.com/trevorld/pnpmisc
[submodule "ppcli"]
	path = ppcli
	url = https://github.com/piecepackr/ppcli
	registered = false
[submodule "ppdf"]
	path = ppdf
	url = https://github.com/piecepackr/ppdf
	registered = false
[submodule "ppn"]
	path = ppn
	url = https://github.com/piecepackr/ppn
	registered = false
[submodule "r.oguelike"]
	path = r.oguelike
	url = https://github.com/matt-dray/r.oguelike
[submodule "sbgjackets"]
	path = sbgjackets
	url = https://github.com/trevorld/sbgjackets
[submodule "svgparser"]
	path = svgparser
	url = https://github.com/coolbutuseless/svgparser
	registered = false
[submodule "truchet"]
	path = truchet
	url = https://github.com/paezha/truchet
[submodule "xmpdf"]
	path = xmpdf
	url = https://github.com/trevorld/r-xmpdf
